<div class="container-fluid">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Socket Io Sample App</h1>
              <ul>
                <li>The data of the application is volatile. There is no DB used.</li>
                <li>This is sample APP demonstarating the use of sockets using Socket.io.</li>
                <li>To enter chat room, you have to provide a distinct user EVERYTIME.</li>
                <li>The username is not fixed, you might not get same username everytime.</li>
                <li>The session is maintained by storing userID in Angular rootScope, hence refreshing the page will loose it.</li>
                <li>If you close the window, the application will consider you as logged out.</li>
                <li>In chat view, you might have to scroll table to last to se latest message.</li>
                <li>Code: <a href="https://github.com/rishi11/socket.ioSampleChatApp">Socket.io Sample App</a></li>
              <ul>
              <hr/>
              <a href="#/register" class="btn btn-warning form-control">Choose Your ID</a>
        </div>
</div>
