<div class="container-fluid">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1> {{model.status}}</h1>
            {{model.chatToDisplay}}
            <div class="chatTable">
              <table class="table table-striped table table-bordered table-responsive">
                  <thead>
                      <tr>
                          <th class="statusUpdate">Enjoy Chat !!</th>
                      </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="chat in model.chatToDisplay">
                    <td ng-class="{'tdright' : chat.type == 'sentMessage', 'statusUpdate' : chat.type == 'update'}">
                          {{chat.content}}
                    </td>
                  </tr>
                  </tbody>
              </table>
            </div>

            <div>
              <input ng-model="message" type="text" class="form-control" id="message" placeholder="Type Your Message Here"/>
              <button ng-click="model.sendChatMessage(message)" class="form-control btn btn-primary">Send Message</button>
            </div>
        </div>
</div>
